<div class="analysis">
    <div class="analysis-body">
        <div class="analysis-left">
            <div class="analysis-avt">
                <img class="analysis__avt" src="img/analysis.jpg"></img>
            </div>
        </div>
        <div class="analysis-center">
            <h3 class="analysis__title">Tổng số bản ghi:</h3>
            <h3 class="analysis__title">Tổng số người sử dụng:</h3>
            <h3 class="analysis__title">Người dùng mới nhất:</h3>
            <h3 class="analysis__title">Người dùng nhiều nhất:</h3>
            <h3 class="analysis__title">Khu vực dùng nhiều nhất:</h3>
        </div>
        <div class="analysis-right">
            <span class="analysis__value"><span id="total_record">...</span> Bản ghi</span>
            <span class="analysis__value"><span id="total_user">...</span> Người dùng</span>
            <span class="analysis__value"><span id="new_user">...</span> (lúc <span id="new_user_time">...</span>)</span>
            <span class="analysis__value"><span id="most_user">...</span> (<span id="most_user_count">...</span> lần)</span>
            <span class="analysis__value"><span id="most_region">...</span> (<span id="most_region_count">...</span> lần sử dụng)</span>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
$.post({
    url: "api/",
    data: { t: "analysis" },
    dataType: "json"
}).done(function(r) {
    $("#total_record").text(r.data.total_record.count);
    $("#total_user").text(r.data.total_user.count);
    //
    if (r.data.new_user.username !== false) $("#new_user").text(r.data.new_user.username);
    if (typeof r.data.new_user.time !== "undefined") $("#new_user_time").text(secToStrDate(r.data.new_user.time));
    //
    if (typeof r.data.most_user.username !== "undefined") $("#most_user").text(r.data.most_user.username);
    $("#most_user_count").text(r.data.most_user.count);
    //
    if (typeof r.data.most_region.region !== "undefined") $("#most_region").text(r.data.most_region.region + " - " + r.data.most_region.country);
    $("#most_region_count").text(r.data.most_region.count);
});


function secToStrDate(sec) {
    var d = new Date(sec * 1000);
    return d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + " - " + d.getDate() + "/" + (d.getMonth()+1) + "/" + d.getFullYear();
}
</script>