
<div class="body">
	<div class="body-main">
		<div class="main-left">
			<div class="left-img">
				<img class="left__img" src="img/app.png"></img>
			</div>
		</div>
		<div class="main-right">
			<div class="right-content">
				<h3 class="content__title">
					FPLAutoCMS là gì?
				</h3>
				<span class="right__content">
					Là phần mềm tự động giải tất cả các bài tập trên tất cả các khóa học trong hệ thống CMS của trường FPT POLYTECHNIC.
				</span>
				<h3 class="content__title">
					Nó có thể giải được hết tất cả các quiz chứ?
				</h3>
				<span class="right__content">
					Trừ các câu hỏi có chứa các đáp án tự luận ra còn lại có thể giải được hết.
				</span>
				<h3 class="content__title">
					Tôi sẽ làm các câu tự luận ra sao?
				</h3>
				<span class="right__content">
					Tìm các câu hỏi tự luận và điền đáp vào, sau đó submit kết quả ( không được làm lại các câu hỏi khác!)
				</span>
				<h3 class="content__title">
					Nếu có lỗi sảy ra tôi phải làm như nào?
				</h3>
				<span class="right__content">
					Có thể nhấn <a href="?t=contact">Liên hệ</a> phía trên hoặc <a href="https://www.facebook.com/ThienDz.SystemError/posts/232107304817190" target="_blank">Nhấn vào đây</a> để theo dõi câu trả lời từ cộng đồng những người sử dụng khác!
				</span>
			</div>
		</div>
	</div>
</div>
